<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="Post" th:action="@{/logout}">
    <label>
        <input type="submit" value="Exit">
    </label>

</form>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <label>
            <input type="checkbox" name="adminRole" th:checked="${adminRole}"/> admin
        </label>
        <br>

        <label>
            <input type="checkbox" name="userRole" th:checked="${userRole}"/> user
        </label>
        <br>

        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <br>

        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>

        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age">
        <br>

        <label for="profession">Profession</label>
        <input type="text" th:field="*{profession}" id="profession">
        <br>

        <input type="submit" value="Update User">
    </div>
</form>
</body>
</html>